body{
    background: #08003C;
    overflow-x: hidden;
}
.header{
    width: 100%;
    height: 300px;
    animation: switchBackground 25s infinite;
    background-size: cover;
  }
  
.header{
    height: 100vh;
    position: relative;
}
.header::before{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1;
}
.header .container-fluid{
    position: relative;
    z-index: 2;
}
.nav-list{
    list-style-type: none;
    gap:45px;
    font-size: 17px;
    font-weight: 600;
    margin-top: 18px;
}
.nav-list li{
    cursor: pointer;
    color: white;
}
.active{
    color: red !important;
}
.nav-list li:hover{
    color: red;
}
.button {
    color: white;
    padding: 17px 55px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    outline: none;
    background: linear-gradient(to left, rgb(220, 40, 118), rgb(242, 86, 62));
}
.anticipate{
    color: white;
    display: flex;
    justify-content: center;
    margin-top:25px;
    font-size: 17px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
}
.smfest{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 130px;
    font-weight: 800;
    margin-top: -40px;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: -9px;
}
.smfest2{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 70px;
    font-weight: 600;
    margin-top: -65px;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: -8px; 
}
.ticket{
    background-color: transparent;
    color: white;
    font-weight: 500;
    padding: 8px 15px;
    font-size: 15px;
    border: 1px solid black;
}
.ticket:hover{
    color: rgb(8, 8, 87);
}
.play{
    display: flex;
    align-items: center;
    color: white;
    width: 20%;
    font-size: 15px;
    font-weight: 550; 
    padding-left: 130px;
    cursor: pointer;
}
.circle{
    font-size: 30px;
}
.circle:hover{
    color: rgb(8, 8, 87); 
    cursor: pointer;
}
.numbers{
    font-size: 60px;
    text-align: center;
    color: #EE2F5B;
    font-weight: 600;
    font-family:Arial, Helvetica, sans-serif;
}
.Attendees{
    text-align: center;
    font-size: 22px;
    margin-top: -15px;
    font-weight: 600;
    color: white;
}
.plus{
    color: white;
    font-size: 12px;
    position: absolute; 
    top: 30px;
    right:90px;
}
#attention{
    color: white; 
    font-size:70px;
    font-weight: 700;
    letter-spacing: -5px;
    font-family: Arial, Helvetica, sans-serif;
}
.write{
    width: 80%; 
    font-weight: 500;
    color: white;
}
@media only screen and (max-width: 768px){

        .conference{
            font-size: 13px;
            font-weight: 600 !important;
        }
    h1.previous, h1.previousa {
        font-size: 2rem;
    }

    .long-p, .long-pa {
        font-size: 0.9rem;
    }

    .slider-nava .nav {
        padding: 0.4rem;
        font-size: 1.2rem;
    }
    .smfest{
        color: white;
        display: flex;
        justify-content: center;
        font-size: 80px;
        font-weight: 800;
        margin-top: -20px;
        font-family:Arial, Helvetica, sans-serif;
        letter-spacing: -7px;
    }
    
    .slider-nav2a {
        position: absolute;
        width: 100%;
        top: 59%;
        left: 90% !important;
        background-color: #e40a41;
        border-radius: 50px;
        max-width: 38px;
        height: 38px;
        padding-top: 5px;
        padding-left: 11px;
        transform: translateY(-50%);
        z-index: 1;
        display: flex;
        justify-content: space-between;
    }
    .yrs1{
        font-weight: 700;
        font-size: 14px !important;
    }
    .anticipate{
        color: white;
        display: flex;
        justify-content: center;
        margin-top:65px;
        font-size: 12px;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: 750;
        letter-spacing: 5px; 
    }
    .description{
        font-size: 15px !important;
        margin-top: -20px;
       
    }
    .numbers{
        font-size: 29px;
        
    }
    .Attendees{
        font-size: 18px;
    }
    .plus{
        position: absolute; 
        top: 15px;
        right:185px;
    }
    #attention{
        font-size: 30px;
        letter-spacing: -1px;
      }  
    .write{
        width: 100%;
        font-size: 14px;
    }
    .b-attention{
        font-size: 12px;
        letter-spacing: 5px;
        font-weight: 700;
    } 
    .fave p{
        font-size: 13px;
        font-weight: 600;
    }
    .read-more{
        margin-left: 25px;
        padding: 15px 45px !important;
        margin-top: 15px !important;
    }
    .slider-wrappera{
        position: relative;
        max-width: 88rem;
        padding-right: 0px !important; 
    }

}
.first-sec{
    border: 4px solid #EE2F5B;
    padding: 0%;
    width: 85%;
    border-radius: 10px;
    height: 500px;
}
.first-sec2{
    border: 4px solid #EE2F5B;
    border-radius: 10px;
    height: 650px;
    margin-top: 20px;
}
.first-sec2 img{
    height: 105%;
    width: 90%;
    position: absolute;
    left:10px;
    /* bottom: 25px; */
    top: 0;
}
.first-sec img{
    height: 95%;
    padding: 2px;
    position: absolute;
    left:10px;
    top: 15px;
}
.fourth2{
    background-color: #EE2F5B;
    height: 115px;
    width: 330px;
    padding: 10px;
    margin-left: 15px;
    border: 1px solid white;
    position: absolute;
    left: 0;
    bottom: 580px;
}
.order1{ 
    order: 1;
    margin-top: 20%;
}
.order0{ 
    order: 0;
}
.read-more{
    color: white;
    padding: 15px 35px;
    font-size: 18px;
    cursor: pointer;
    border:2px solid white;
    outline: none;
    background-color: transparent;
    transition: color 0.3s, background-color 0.3s;
    margin-top:70px;
}
.read-more:hover{
   background: linear-gradient(to left, rgb(220, 40, 118), rgb(242, 86, 62));
    outline: none;
    border: none;
}
.fourth{
    position: absolute;
    top: 480px;
    right: 0px !important;
    background-color: black;
    width: 70%;
    height: 22%;
    border: 1px solid white;
    text-align: center;
}
.four{
    font-size: 40px;
    font-weight: 600;
    position: relative;
    color: white;
}
.th{
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    top: 22px;
    color: #EE2F5B;
}
.yrs{
    font-weight: 700;
    position: absolute;
    top: 75px;
    left: 120px;
    font-size: 13px;
}
.yrs1{
    font-weight: 700;
    font-size: 16px;
}
@media only screen and (min-width: 768px){
    
.footer-content{
    margin-bottom: 35px;
    padding-bottom: 12%;
    border-bottom: 1px solid rgb(52, 50, 50);
}
 .third-section{
        margin-top: 200% !important;
 }
    
.exhibit{
    font-weight: 800;
    font-size: 65px !important;
    letter-spacing: -2px;
}
.sliders{
}
.slider-wrapper{
    position: relative;
    max-width: 88rem;
    padding-right: 35px; 
}
.slider{
    display: flex;        
    gap: 15px;
    aspect-ratio: 21/9; 
    overflow-x: auto;
    scroll-behavior: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0% 0.25 );
}
.slider::-webkit-scrollbar{
    display: none;
}
.slider img{
    width: 50%;
    height: 80%;
    scroll-snap-align: start;
    object-fit: cover;
    transition: width 0.9s ease;    
}
.slider img:hover {
    filter: brightness(70%);        /* Darken the image by reducing brightness */
    width: 110%; 
}
.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 21.25rem !important;
    left: 02% !important;
    transform: translateX(-50%);
    z-index: 1;
}
.slider-nav i{
    width: 0.5rem;
    padding: 5px 7px;
    border-radius: 50%;
    background-color: #f01447;font-size: larger;
    color: white;
    transition: opacity ease 250ms;
}
.slider-nav a:hover{
    opacity: 1;
}
.slider-nav2{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 21.25rem !important;
    left: 95% !important;
    transform: translateX(-50%);
    z-index: 1;
}
.slider-nav2 i{
    width: 0.5rem;
    padding: 5px 7px;
    border-radius: 50%;
    background-color: #f01447;font-size: larger;
    color: white;
    transition: opacity ease 250ms;
}
.slider-nav2 a:hover{
    opacity: 1;
}
    .smfest2{
        color: white;
        display: flex;
        justify-content: center;
        font-size: 130px;
        font-weight: 00;
        margin-top: -80px;
        font-family:Arial, Helvetica, sans-serif;
        letter-spacing: -10px;
    }
    .ticket{
        background-color: transparent;
        color: white;
        font-weight: 700;
        padding: 8px 15px;
        font-size: 18px;
        border: 1px solid black;
        margin-left: 80%;
    }
    .play{
        color: white;
        margin-right: -70% !important;
        width: 20%;
        font-size: 17px !important;
        font-weight: 700 !important;
        padding-left: 04% !important;
    }
    .order1{ 
        order: 0;
        margin-top: 10%;
    }
    .order0{ 
        order: 1;
    }
    .first-sec{
        border: 4px solid #EE2F5B;
        padding: 0%;
        width: 116%;
        border-radius: 10px;
        height: 109%;
    }
    .first-sec2{
        border: 4px solid #EE2F5B;
        padding: 0%;
        width: 100%;
        border-radius: 10px;
        height: 870px;
    }
    .first-sec2 img{
        height: 873px;
        width: 615px;
        position: absolute ;
        top: 40px;
    }
    .first-sec img{
        width: 110%;
        height: 110%;
        position: absolute ;
        right:120px;
        top: 45px;

    }
    .fourth{
        position: absolute;
        top: 500px !important;
        right:0% !important;
        background-color: black;
        width: 41%;
        border: 1px solid white;
        text-align: center;
        margin-right: -175px;
        height: 25%;
    }
    .fourth2{
        position: absolute;
        bottom: 800px !important;
        left: -60px !important;
        background-color: #EF3C4F;
        width: 250px;
        border: 1px solid white;
        text-align: center;
        height: 170px;
    }
    .th{
        position: absolute;
        top: 30px;
        font-size: 18px;
        font-weight: 700;
    }
    .four{
        font-weight: 700;
        font-size: 60px;
    }
    .yrs{
        font-weight: 700;
        position: absolute;
        top: 110px;
        left: 60px;
        font-size: 18px;
    }
    .c-attention{
        letter-spacing: 10px;
        font-size: 16px;
    }
    .fav-icons img{
        height: 30%;
        transition: transform 0.3s ease;
        padding-right: 10px;
    }
    .fave h2{
        font-size: 25px;
        font-weight: 700;
    }
    .fav-icons img:hover {
        transform: scale(1.2); /* Enlarge the icon by 20% */
    }
    .speakers{
        font-weight: 520 !important;
        font-size: 20px !important;
        transform: scaleY(0.8);
        letter-spacing: 5px !important;
    }
    .previous{
        font-size: 50px !important;
    }
    .long-p{
        width: 61%;
        margin: 0 auto;
        font-size: 16px !important;
        padding-top: 12px;
    }
    .speakersa{
        color: #EE2F5B;
        font-size: 16px !important;
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 7px;
    }
    .previousa{
        font-weight: 550;
        font-size: 65px !important;
        font-family: Arial, Helvetica, sans-serif;
        transform: scaleY(0.9);
    }
    .long-pa{
        font-size: 16px !important;
        font-weight: 500;
        padding-top: 10px;
        margin-left:20% !important;
        width: 60% !important;
    }
}
.fav-icons img{
    height: 50%;
    transition: transform 0.3s ease;
    padding-right: 10px;
}
.fave h2{
    font-size: 20px;
    font-weight: 650;
}
.fav-icons img:hover {
    transform: scale(1.2); /* Enlarge the icon by 20% */
}


.exhibit{ 
    font-weight: 800;
    font-size: 68px;
    letter-spacing: -2px;
}
.sliders{
}
.slider-wrapper{
    position: relative;
    padding-right:5px; 
}
.slider{
    display: flex;        
    aspect-ratio: 21/9; 
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
}
.slider::-webkit-scrollbar{
    display: none;
}
.slider img{

    scroll-snap-align: start;
    object-fit: cover;
}
.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 4.45rem;
    left: 05%;
    transform: translateX(-50%);
    z-index: 1;
}
.slider-nav i{
    width: 0.5rem;
    padding: 5px 7px;
    border-radius: 50%;
    background-color: #f01447;font-size: larger;
    color: white;
    transition: opacity ease 250ms;
}
.slider-nav a:hover{
    opacity: 1;
}
.slider-nav2{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 4.45rem;
    left: 92%;
    transform: translateX(-50%);
    z-index: 1;
}
.slider-nav2 i{
    width: 0.5rem;
    padding: 5px 7px;
    border-radius: 50%;
    background-color: #f01447;font-size: larger;
    color: white;
    transition: opacity ease 250ms;
}
.slider-nav2 a:hover{
    opacity: 1;
}
.read-more {
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.read-more:hover {
    background-color: #c10e3a;
}

/* Slider Styles */
.sliders {
    width: 100%;
    margin-top: 2rem;
    overflow: hidden;
}

.slider-wrappera {
  
    position: relative;
    max-width: 88rem;
    padding-right: 35px; 
}

.slidera {
    display: flex;        
    aspect-ratio: 21/9; 
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
}
.slidera::-webkit-scrollbar{
    display: none;
}
.slidera img {
    scroll-snap-align: start;
    object-fit: cover;
    width: 100%;
    flex-shrink: 0;
    border-radius: 5px; /* Slight rounding of image corners */
}
.slider-nava {
    position: absolute;
    width: 100%;
    top: 60%;
    left: 1%;
    background-color: #e40a41;
    border-radius: 50px;
    max-width: 38px;
    height: 38px;
    padding-top: 5px;
    padding-left: 11px;
    transform: translateY(-50%);
    z-index: 1;
    display: flex;
    justify-content: space-between;
}
.slider-nav2a {
    position: absolute;
    width: 100%;
    top: 60%;
    left: 93%;
    background-color: #e40a41;
    border-radius: 50px;
    max-width: 38px;
    height: 38px;
    padding-top: 5px;
    padding-left: 11px;
    transform: translateY(-50%);
    z-index: 1;
    display: flex;
    justify-content: space-between;
}
.slider-nava i{
    color: white;
    font-weight: 600;
}
.slider-nav2a i{
    color: white;
    font-weight: 600;
}
.slider-nava .nav {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    color: white;
    padding: 0.5rem;
    font-size: 1.5rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}
.slider-nava .nav:hover {
    background-color: rgba(0, 0, 0, 0.8);
    transform: scale(1.1);
}
.circle {
    cursor: pointer;
    box-shadow: 0 0 10px #022a53;
    transition: all 0.4s ease-in-out;
    animation: glowing 0.9s infinite alternate;
}
.bi-play-fill {
    cursor: pointer;
    box-shadow: 0 0 10px #022a53;
    transition: all 0.4s ease-in-out;
    animation: glowing 0.9s infinite alternate;
}
@keyframes glowing {
    0% {
        box-shadow: 0 0 5px #0a53a26a, 0 0 10px #0a53a26a, 0 0 20px #053f79, 0 0 30px #032a50, 0 0 40px #072039, 0 0 50px #042545, 0 0 60px #05284c;
    }
    15% {
        box-shadow: 0 0 5px #010c186a, 0 0 10px #0a53a26a, 0 0 20px #02182e, 0 0 30px #032a50, 0 0 40px #072039, 0 0 50px #042545, 0 0 60px #05284c;
    }
    25% {
        box-shadow: 0 0 10px #080459, 0 0 20px #1e0754, 0 0 30px #070d54, 0 0 40px #190444, 0 0 50px #075454, 0 0 60px #075454, 0 0 70px #075454;
    }
    45% {
        box-shadow: 0 0 10px #210e9d, 0 0 20px #3a0aa9, 0 0 30px #110754, 0 0 40px #075454, 0 0 50px #075454, 0 0 60px #19066e, 0 0 70px #075454;
    }
    65% {
        box-shadow: 0 0 5px #062c53, 0 0 10px #062c53, 0 0 20px #062c53, 0 0 30px #290676, 0 0 40px #062c53, 0 0 50px #062c53, 0 0 60px #062c53;
    }
    100% {
        box-shadow: 0 0 5px #2c0575, 0 0 10px #480acd, 0 0 20px #2f0794, 0 0 30px #062c53, 0 0 40px #062c53, 0 0 50px #062c53, 0 0 60px #062c53;
    }
}
.ticket-section {
    background-color: var(--indigo);
    padding: 80px 20px 100px;
}
.categories {
    color: var(--pink);
    font-size: 18px;
    letter-spacing: 7px;
    text-align: center;
}
.get-ticket {
    font-family: 'ClashDisplay-Semibold', Arial, sans-serif;
    color: var(--white);
    font-size: 65px;
    letter-spacing: 2px;
    text-align: center;
}
.discount {
    font-size: 16px;
    width: 64vw;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 45px;
}
.basic, .executive, .premium {
    border: 1px solid #c10e3a !important;
    text-align: center;
    position: relative;
    padding: 25px 0;
    transition: box-shadow 0.5s ease;
}
.basic h2, .executive h2, .premium h2{
    font-weight: 800;
}
.basic:hover, .executive:hover, .premium:hover {
    box-shadow: inset 0 0 40px rgba(238, 47, 91, 0.8);
}
.premium {
    position: relative;
}
.type {
    font-family: 'ClashDisplay-Bold', Arial, sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    margin-bottom: 25px;
}
.price {
    font-family: 'ClashDisplay-Bold', Arial, sans-serif;
    color:#e62152;
    font-size: 40px !important;
    font-weight: 900 !important;
    letter-spacing: 1px;
    margin-top: -20px;
}
.basic p .bi, .executive p .bi, .premium p .bi {
    font-family: 'ClashDisplay-Bold', Arial, sans-serif;
    font-size: 22px;
    padding-right: 5px;
}
.basic p, .executive p , .premium p {
    font-weight: 600;
    padding: 0%;
}
p .pink {
    color:#f01447;
    font-weight: 900 !important;
}
.line-through{
    font-size: 22px;
    font-family: 'ClashDisplay-Bold', Arial, sans-serif;
    font-weight: 700 !important;
    margin-top: 38px !important;
}
.hash {
    position: absolute;
    top: 110px;
    font-weight: 900 !important;
    left: 275px;
    font-size: 12px;
    font-weight: 100;
}
.buy-ticket {
    border: 1px solid white !important;
    background-color: inherit;
    color: var(--white);
    outline: none;
    padding: 7px 38px;
    border-radius: 20px;
    font-size: 22px;
    letter-spacing: 1px;
    margin-top: 18px;
    transition: transform 0.3s ease-in-out;
}
.buy-ticket:hover {
    padding: 15px 38px;
}
.best {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 65px;
    height: 65px;
    padding-top: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 50%;
}
/* Keyframes for the wobble animation */
@keyframes wobble {
    0% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(-10px) rotate(-5deg);
    }
    50% {
      transform: translateY(0) rotate(5deg);
    }
    75% {
      transform: translateY(-10px) rotate(-5deg);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  /* Apply the wobble animation on hover */
  .social-media i{
    transition: transform 0.2s ease;
  }
  
  .social-media i   :hover {
    animation: wobble 1s ease-in-out;
  }
  .footer-section {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 150px;
}
.footer-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(8, 0, 60, 0.9);
    z-index: 1;
}
.footer-section .container-fluid {
    position: relative;
    z-index: 2;
    padding-bottom: 55px;
    border-bottom: 1px solid var(--grey);
}
.footer-logo a img {
    height: 12vh;
    margin-bottom: 28px;
}
.conference {
    color: rgb(167, 165, 165);
    font-weight: 600;
    font-family:'ClashDisplay-Semibold', Arial, sans-serif ;
    margin-bottom: 25px;
}
.social-media i {
    border-radius: 50%;
    border: 1px solid gray;
    color: grey;
    padding:8px 10px;
    display: inline ;
    justify-content: center;
    font-size: 17px;
    text-align: center;
    margin-right: 5px;
}
.links {
    text-align: center;
}
.news {
    text-align: center;
}
.newsletter {
    font-family: 'ClashDisplay-Semibold', Arial, sans-serif;
    color: var(--white);
    font-size: 30px;
    line-height: -10px;
    /* letter-spacing: -1px; */
    font-weight: 600;
    margin-bottom: 35px;

}
.other-pages {
    font-family: 'ClashDisplay-Semibold', Arial, sans-serif;
    color: var(--white);
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -1px;
}
.pages {
    font-family: 'ClashDisplay-Semibold', Arial, sans-serif;
    font-size: 18px;
    color: gray;
    font-weight: 900;
    text-decoration: none;
    margin-bottom: 10px;
}
.pages:hover{
    color: #e62152;
}
.sign-up {
    color: rgb(208, 203, 203);
}
.news input {
    font-family: 'Poppins-Regular', Arial, sans-serif;
    border-radius: 30px;
    padding: 15px 20px;
    border: none;
    background: inherit;
    border: 1px solid rgba(99, 96, 96, 0.599) !important;
    font-size: 16px;
    outline: #EF3C4F;
    width: 85%;
}
.footer{
    filter: brightness(20%);

}
.subscribe {
    font-family: 'Poppins-Regular', Arial, sans-serif;
    background: linear-gradient(to left, rgb(220, 40, 118), rgb(242, 86, 62));
    padding: 18px;
    margin-top: 10px !important;
    letter-spacing: 1px;
    border-radius: 30px;
    width: 85%;
    margin: 0 auto;
}
.subscribe a {
    color: var(--white);
    text-decoration: none;
}
.trademark {
    text-align: center;
    color: gray;
    font-size: 15px;
    letter-spacing: 1px;
}
.trademark span{
    color: white;
}
.container{
    max-width: 90%;
}
  